name: Test Reusable 2

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-api

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - run: echo "${{ inputs.message }} - ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}"
